@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(3, 50px);
  grid-template-rows: repeat(3, 50px);
  gap: 2px;
  justify-content: center;

  align-content: center;
}

div {
  background-color: #5b0097;
  /* width: 100px;
  height: 100px;
  place-self: start; */
}

/* div:nth-child(8) {
  justify-self: end; 
  place-self: start;
  background-color: brown;
} */